@import "tailwindcss";
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8);
}
.nav-container{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color: #1A0B2E;
}

.btn{
    background: var(--primary-color);
    border-radius: 10000px;
    color: #ffffff;
    justify-content: center;
    cursor: pointer;
}

.nav-btn button{
   background: var(--primary-color);
   border: none;
   border-radius: 10000px;
   padding: 12px 16px;
   color: #ffffff;
   justify-content: center;
   cursor: pointer;
}
hr{
    color: rgba(255, 255, 255, 0.249)
}

.banner-container{
    width: 100%;
    height: 760px;
    background-image: url(../assets/hero-bg.png);
}
.video iframe{
    border-radius: 20px 20px 0px 0px;
}

.social img{
    border-radius: 10px;
    border: 2px solid #ffffff3e;
    padding: 10px;
}

.foot{
    background-image: url(../assets/footer-bg.png);
}

.hide{
    display: none;
}

@media  screen and (max-width:576px) {

    #featured-episode{
       height: 2440px;
       margin: 0 auto;
    }
    .featured p{
        font-size: 32px;
        width: 255px;
        margin: 0 auto;
    }

    .video-section{
        margin: 0 auto;
        padding-top: 40px;
        height: 1500px;
        width: 300px;
        display: block;
    }
    .description{
        height: 480px;
        width: 300px;
        margin-top: 15px;
    }
    .video iframe{
        width: 300px;
    }

    #host{
        padding-top: 100px;
        width: 300px;
        margin: 0 auto;
    }
    .host{
        font-size: 32px;
        width: 195px;
    }
    .host-section{
        text-align: center;
        width: 300px;
    }
    .host-info{
        display: block;
        height: 650px;
        width: 300px;
    }
    .social{
        width: 230px;
    }
}