@import "tailwindcss";
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8);
}
.nav-container{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color: #1A0B2E;
}

.btn{
    background: var(--primary-color);
    border-radius: 10000px;
    color: #ffffff;
    justify-content: center;
    cursor: pointer;
}

.nav-btn button{
   background: var(--primary-color);
   border: none;
   border-radius: 10000px;
   padding: 12px 16px;
   color: #ffffff;
   justify-content: center;
   cursor: pointer;
}
hr{
    color: white;
}

.banner-container{
    width: 100%;
    height: 760px;
    background-image: url(../assets/hero-bg.png);
}